<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Trace.log">
    
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>
    <targets>
        <target name="blackhole" xsi:type="Null" />
        <target name="console" xsi:type="Console" />
        <!--
            <target name="logfile" xsi:type="File" fileName="Error.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />   
        -->
        <target name="logfile" xsi:type="File" fileName="Error.log" layout="${message}" />
    </targets>
    <rules>
        <!-- All logs, including from Microsoft -->
       
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        
        <logger name="ElGuerre.Log" minlevel="Trace" writeTo="logfile" final="false" />
        <logger name="ElGuerre.Audit" minlevel="Trace" writeTo="logfile" final="false" />

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Off" writeTo="logfile" final="false" />
        <logger name="Microsoft.AspNetCore.*" minlevel="Off" final="true" />
    </rules>
</nlog>